body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: rgb(28, 28, 104);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.calculator {
    border: 1px solid #27be01;
    border-radius: 8px;
    width: 300px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    background-color: #222;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.calculator-keys button {
    height: 60px;
    background-color: #e0e0e0;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
}

.calculator-keys button:hover {
    background-color: hsl(212, 100%, 70%);
}

.calculator-keys button:active {
    background-color: #f79234;
}

.operator{
    background-color: #e78224;
}

.operator:hover {
    background-color: #e78224;
}

.equal-sign {
    background-color: #2e86c1;
    color: white;
    grid-column: span 2;
}

.equal-sign:hover {
    background-color: #1e76b1;
}

.all-clear {
    background-color: #c0392b;
    color: white;
}

.all-clear:hover {
    background-color: #b0291b;
}

.calculator-keys button[value="0"] {
    grid-column: span 1;
}

.decimal {
    grid-column: span 1;
}

